{% extends 'base.html' %}

{% block title %}
    {% if validlink %}
    Change password for {{ form.user.username }}
  {% else %}
    Reset your password
  {% endif %}
{% endblock %}

{% block content %}
    <div class="w3-container w3-light-gray w3-round">
    <div class="w3-panel w3-container">
    {% if validlink %}
        <h3>Change password for @{{ form.user.username }}</h3>
        <form method="post" novalidate>
            {% csrf_token%}
            {% include 'includes/form.html' %}
            <div class="w3-panel w3-block"></div>
            <div class="w3-center">
            <button  type="submit"  class="w3-btn w3-green" >Change Password</button>
                </div>
            <div class="w3-panel w3-block"></div>
        </form>
        {% else %}
        <h3>Reset your password</h3>
        <div class="w3-panel w3-flat-alizarin w3-margin-right w3-margin-left">
            <p>Its look like you click on the invalid password reset link. Please try again</p>
        </div>
            <div class="w3-panel w3-block"></div>
        <div class="w3-center">
        <a href="{% url 'password_reset' %}" class="w3-btn w3-dark-grey">Request a new password reset link</a>
        </div>
        {% endif %}
    </div>
    </div>
{% endblock %}