{% extends 'base.html' %}

{% block title %}
    Reset your password
{% endblock %}
{% block Bar %}

{% endblock %}

{% block content %}
    <div class="w3-light-gray">
        <h3 class="w3-margin-left">Reset your password</h3>
        <p class="w3-margin-left">Enter your email address and we will send you a link to reset your password.</p>
        <form method="post" novalidate>
            {% csrf_token %}
            {%  include 'includes/form.html' %}
            <div class="w3-panel w3-block"></div>
            <div class="w3-center">
            <button  type="submit"  class="w3-btn w3-green">Send password reset Email</button>
                </div>
            <div class="w3-panel w3-block"></div>
        </form>
    </div>

{% endblock %}