{%  extends 'base.html' %}

{% block title %}
    Reset your password
{% endblock %}

{% block Bar %}

{% endblock %}

{% block content %}
    <div class="w3-container w3-light-gray  w3-round">
    <div class="w3-panel w3-container">
        <h3>Reset your password</h3>
        <p>Check your Email for a link to reset your password. If it doesn't appear within a few minutes,
        Check your spam folder.</p>
    </div>
    <div class="w3-center">
            <a href="{% url 'login' %}" class="w3-btn w3-dark-grey" >Return to log in</a>
                </div>
            <div class="w3-panel w3-block"></div>
    </div>
{% endblock %}